
  body {
    background: #0F0F0F;
    color: #fff;
  }

  /* HOME PAGE SPECIFIC */
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 12px;
    justify-content: center;
    padding: 10px;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
  }
  
  .poster-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .movie-title {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }

  /* SIGN IN/SIGN OUT SPECIFIC */
  .wide-button {
    padding: 11px 50px;
    border: none;
    border-radius: 20px;
    background-color: #CA2145;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
  }

  .wide-button:hover {
    background-color: #E23E62;
  }

  .gray-box {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: #242424;
    color: #fff;
    width: 200px;
  }

  /* HEADER */
  .header-container {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    background-color: #242424;
    color: #fff;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    gap: 15px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
  }
  
  .header-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .filter-button {
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 0;
    cursor: pointer;
  }

  .filter-button-corner {
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .filter-button:hover {
    color: #CA2145;
  }

  .filter-button-corner:hover {
    color: #CA2145;
  }
  
  .search-button {
    display: flex;
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: lightgray;
  }

  .header-links {
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
    
  .header-links:hover {
    background-color: #242424;
    color: #CA2145;
  }
    
  .account-menu-container {
    position: relative;
    align-items: center;
    cursor: pointer;
    display: inline-block;
  }

  .account-icon-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 3px;
  }
    
  .account-icon {
    display: block;
    width: 30px;
    height: auto;
  }
    
  .account-dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #242424;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    padding: 5px 0;
    z-index: 100;
    display: block;
  }
    
  .account-dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    text-align: left;
  }
    
  .account-dropdown-item:hover {
    background-color: #242424;
  }
    
  button.account-dropdown-item {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
    
  button.account-dropdown-item:hover {
    background-color: #242424;
  }
    
  .account-dropdown-menu {
    display: block;
  }

  .search-container {
    display: flex;
    flex: 1;
    max-width: 500px;
    justify-content: center;
    position: relative;
  }
    
  .search-input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
  }
    
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
  }
    
  .dropdown-menu.visible {
    display: block;
  }
    
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
    
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  /* DEFAULT COMPONENTS */
  .default-big-title-pink {
    font-size: 1.5rem;
    color: #CA2145;
  }

  .default-big-title-white {
    font-size: 1.5rem;
    color: #fff;
  }

  .default-medium-title {
    font-size: 1.3rem;
    color: #fff;
  }

  .default-text-center {
    font-size: 1rem;
    color: #fff;
  }

  .default-text-left {
    font-size: 1rem;
    color: #fff;
  }
  
  .link {
    font-size: 1rem;
    color: #CA2145;
  }

  .default-button-pink {
    padding: 11px 17px;
    border: none;
    border-radius: 20px;
    background-color: #CA2145;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
  }
  
  .button-button-pink:hover {
    background-color: #E23E62;
  }